1. Done Show how many active tasks left at the left of footer
2. Three tabs in center of footer to toggle between All, Active, Completed and show filtered tasks
3. Done Left header button to toggle all tasks. If any task is not completed, set all tasks to completed. If all tasks are completed, set all to active
4. Type in the input, press enter key to add the task
5. Hover on task, shows pencil icon. Clicking pencil icon allows user to edit the task. Once editing is done, a checkmark icon allows user to save the editing
6. During editing, press enter key to save the task
7. Close and reopen the application, it should keep all the previous tasks. // localStorage